<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <!--測試環境使用的驗證參數 ex:5E8B6E1998F421204C6576544FE1A26B44FC775982D8CE2E-->
    <add key="FISCAPIkey" value="0a03336704b0223819678c622d47945D2020111615302c99"/>
  </appSettings>
</configuration>
